@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Space Grotesk";
  transition: 0.2s;
  margin: 0;
}

.left::before {
  content: "";
  height: 100%;
  width: 483px;
  background-image: url("public/images/bg-main-desktop.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

.whole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 1100px;
}

.left {
  height: 527px;
  width: 541px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-front {
  height: 245px;
  width: 447px;
  border-radius: 10px;
  background-image: url("public/images/bg-card-front.png");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  position: relative;
  padding: 30px;
}

.card-front h1 {
  font-weight: 500;
  font-size: 28px;
  color: white;
  letter-spacing: 3.42px;
  margin-bottom: 10px;
  align-self: start;
}

.card-front::before {
  content: "";
  background-image: url("public/images/card-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 47px;
  width: 84px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-front .name-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-front .name-date p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
}

.card-back {
  height: 245px;
  width: 447px;
  border-radius: 10px;
  background-image: url("public/images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  position: relative;
  padding: 30px;
  position: relative;
  align-self: flex-end;
}

.card-back p {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  right: 12%;
  top: 45%;
}

.right {
  display: flex;
  flex-direction: column;
  height: 352px;
  width: 381px;
  justify-content: space-between;
}

.right p {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: #21092f;
}

.right input {
  height: 45px;
  width: 381px;
  border-radius: 8px;
  border: solid 1px #dfdee0;
  padding-left: 10px;
}

.right input::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #dfdee0;
}

.small-inputs {
  display: flex;
  gap: 10px;
}

.small-inputs-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-inputss {
  display: flex;
  gap: 10px;
}

.small-inputs-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-inputs-left input {
  height: 45px;
  width: 80px;
}

.small-inputs-right input {
  width: 191px;
}

button {
  height: 53px;
  width: 381px;
  border-radius: 8px;
  background-color: #21092f;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  opacity: 0.8;
}

.error {
  font-weight: 500;
  font-size: 12px;
  color: #ff5050;
}

.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.thanks img {
  height: 80px;
  width: 80px;
}

.thanks h1 {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3.42;
  color: #21092f;
}

.thanks p {
  font-weight: 500;
  font-size: 18px;
  color: #8f8694;
}

@media (max-width: 1100px) {
  body::before {
    height: 240px;
    width: 100%;
    background-image: url("public/images/bg-main-mobile.png");
  }

  .whole {
    flex-direction: column;
    padding-top: 50px;
  }

  .left {
    height: 251px;
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .right {
    width: 327px;
  }
  .card-front {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 156px;
    width: 285px;
    padding: 20px;
  }

  .card-front h1 {
    font-size: 18px;
    letter-spacing: 2.2px;
  }
  .card-front .name-date p {
    font-size: 9px;
    letter-spacing: 1.29px;
  }

  .card-front::before {
    height: 30px;
    width: 54px;
  }

  .card-back {
    position: absolute;
    top: 0;
    right: 0;
    width: 286px;
    height: 157px;
  }

  .card-back p {
    top: 44%;
  }

  .right input {
    width: 327px;
  }

  .small-inputs-left input {
    width: 72px;
  }

  .small-inputs-right input {
    width: 164px;
  }

  button {
    width: 327px;
  }
}